<ion-view view-title="Proactive Flight Training">
  <ion-content class="padding">
    <div class="row">
      <div class="col col-10 "id="Inner1"></div>
      <div class="col col-80" id="Inner">
        <div class="list">

          <label class="item item-input item-floating-label">
            <span class="input-label">Email</span>
            <input type="text" ng-model="newUser.email" placeholder="Whats your email Address?we would love to contact you . . .">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Date of Birth</span>
            <input type="text" ng-model="newUser.dob" placeholder="When were you born?we promise not to tell anyone . . .">
          </label>
        </div>
        <a class="button icon icon-right button-block button-positive ion-chevron-right"ng-click="CreateProfile(userType)" href="#/tab/step-one">Continue</a>
      </div>
      <div class="col col-10"id="Inner2"></div>
    </div>



  </ion-content>
</ion-view>
