<ion-view view-title="Proactive Flight Training">
  <ion-content class="padding">

    <div class="row">
      <div class="col col-25"></div>
      <div class="col col-50" id="home">


        <button class="button button-positive">
          SIGN-IN
        </button>
        <h4 id="T">Welcome to Flight Assist</h4>
        <br>
        <p>
          Not a Proactive flight training member? tap below to start your aviation journey.
        </p>


        <button class="button button-block button-positive">
          START YOUR AVIATION JOURNEY
        </button>

      </div>
      <div class="col col-25"></div>
    </div>

  </ion-content>
</ion-view>
