<ion-view view-title="Proactive Flight Training">
   <ion-content class="padding">
    <div class="row" id="bg">
      <div class="container">

        <div class="col-md-12" id="bullets">

          <h4>Thank you for choosing to become a proactive member.</h4>

          <h3>You will be guided through 4 easy steps</h3>
          <ol>
            <li> Choose your profile type creation</li>
            <li> Provide your personal details information</li>
            <li> Provide Picture format of your ID or Passport</li>
            <li> Provide your medical details & attach a valid medical certificate</li>
          </ol>
          <h3>What you will need to get onboarded</h3>
          <ol>
            <li> Soft copy of your national ID or passport</li>
            <li> A valid medical certificate</li>
            <li> Receipt or copy of good conduct</li>

          </ol>
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
