/* Empty. Add your own CSS if you like */
.scroll-content {
  background: url(../img/famo.jpg);
  /* background: rgba(0, 0, 0, 0.10); */
  background-size: cover;
  background-repeat: no-repeat;
}
#home{
  background: rgba(0,0,0,0.60);
  padding: 30px;
  color: #eeeeee;
  margin-top: -15px;
  font-weight: 600;
}
#T{
  color:whitesmoke;
}
